header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(35, 35, 150);
    padding: 2% 0;
    
}
img {
    margin-left: -130px;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 3%;
}
button{
    width: 170px;
    height: 40px;
    background-color: white;
    color:rgb(35, 35, 150) ;
    margin-right: -130px;

}
span{
    padding-top: 0.5%;
}