header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(35, 35, 150);
    padding-top: 2%;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 3%;
}
button{
    width: 150px;
    height: 40px;
    background-color: white;
    color:rgb(35, 35, 150) ;

}
.nav{
    padding-top: 3%;
}