.avatar {
  position: relative;
}

.mark {
  position: absolute;
  top: 24px;
  left: 6%;
}

.fatima {
  right: 9%;
  top: 20px;
  position: absolute;
}

.ellie {
  position: absolute;
  left: 11%;
  top: 372px;
}

.ayo {
  position: absolute;
  right: 9%;
  top: 372px;
}

.save {
  position: relative;
  width: 50%;
  text-align: center;
  color: white;
  left: 25%;
  top: 48px;
}

.heading {
  font-size: 72px;
}

.goal {
  padding: 0 52px;
}

.btn {
  width: 190px;
  height: 50px;
  color: #083E9E;
  background-color: white;
  margin-bottom: 5%;
}

.store > img {
  margin-right: 2%;
}

.div_importance {
  position: relative;
  top: 170px;
  text-align: center;
  padding-top: 34px;
  color: white;
}

.heading2 {
  font-size: 35px;
  color: white;
}

.flex_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2%;
  text-align: left;
}

.flex_content > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_content > div > img {
  margin-left: 34px;
  height: 50%;
}

.flex_content > div > div {
  width: 67%;
}

.ways {
  position: relative;
  top: 270px;
  background-color: white;
  padding: 6%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.content > div {
  width: 27%;
  margin-right: 23px;
}

.content > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content > div > div > img {
  height: 50%;
}

.header3 {
  text-align: center;
  color: #083E9E;
  padding: 0% 300px;
}

.access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  top: 270px;
  padding-bottom: 173px;
  background-position-x: 20%;
  background-position-y: -149px;
}

.access > img {
  overflow-y: visible;
  position: absolute;
  top: -217px;
  left: 57%;
}

.access > div {
  width: 50%;
  color: white;
}

.access > div > h5 {
  font-size: 49px;
  padding: 4% 8% 0;
  margin: 18% 0% 0;
}

.access > div > p {
  font-size: 20px;
  padding: 20px 48px;
}

.testimonies {
  position: relative;
  top: 290px;
  margin-left: 6%;
}

.testimonies > h4, .testimonies > p {
  text-align: center;
  font-size: 30px;
  color: white;
}

.testimonies > p {
  font-size: 20px;
}

.review_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review_box > div {
  border: 2px hidden;
  border-radius: 7px 7px 7px 0;
  width: 40%;
  border: 2px solid rgba(255, 255, 255, 0.651);
  margin: 2%;
  padding: 2% 1%;
  color: white;
}

.review_box > div > p {
  margin: 6%;
  color: rgba(255, 255, 255, 0.404);
}

.review_box > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.review_box > div > div > div {
  width: 50%;
}
/*# sourceMappingURL=main.module.css.map */